<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>node1</name>
  <description></description>
  <remoteFS>/home/</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.0">
    <host>172.17.0.3</host>
    <port>22</port>
    <credentialsId>1f14e1e8-e099-4f34-a124-b9f79c1dfe79</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>java_node</label>
  <nodeProperties/>
</slave>